.wrapper select {
  margin: 0.5rem 0;
  height: 2rem;
  background-color: var(--accent);
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 200px;
  border: 1px solid var(--secondary);
  box-shadow: 0 0 1px 1px var(--color);
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 770px) {
    width: 180px;
  }
}
