@import '/src/scss/colors';

.menuButton {
  display: block;
  padding: 6px 10px;
  position: fixed;
  right: 2px;
  top: 2px;
  z-index: 100;
  background-color: $accent-color;
  border-radius: 10px;
}
.bar {
  display: block;
  border-radius: 60px;
  width: 50px;
  height: 6px;
  background-color: rgb(211, 209, 209);
  margin: 10px 0px;
}
.menuContainer {
  input {
    display: none;
  }
}
.menuOpen {
  z-index: 1000;
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: var(--primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 2px var(--color);
  width: fit-content;

  button {
    height: 2rem;
    width: 2rem;
    align-self: flex-end;
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
  }
}
