.googleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  padding: 10px 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px var(--google-border);
  background-color: var(--google-background);
  color: var(--google-font);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  
  &:hover {
    filter: brightness(80%);
  }
}
.logo {
  margin-right: 10px;
}
