.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
}
.link {
  height: fit-content;
  overflow: hidden;
  width: 100%;
  border-radius: 100px;
}
.image {
  max-width: 100%;
  border-radius: 100px;
}
