.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
}
.link {
  height: fit-content;
  width: 100%;
  border-radius: 50px;
}
.image {
  max-width: 100%;
  border-radius: 80px;
}

.wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper button {
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
}
