.select {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: var(--secondary-color);
  color: var(--color);
  border: 1px solid var(--color);
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 770px) {
  .select {
    font-size: 0.8rem;
  }
}
