@import '/src/variables';

.select {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: $light-background;
  border: 1px solid;
  &:hover {
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background;
  }
}

@media only screen and (max-width: 770px) {
  .select {
    font-size: 0.8rem;
  }
}
