@use 'colors' as *;

html[data-theme='dark'] {
  --primary: #{$dark-card};
  --secondary: #{$dark};
  --color: #{$light};
  --header: #{$dark-header};
  --accent: #{$accent-color};
}

html[data-theme='light'] {
  --primary: #{$light-card};
  --secondary: #{$light};
  --color: #{$dark};
  --header: #{$light-header};
  --accent: #{$accent-color};
}

html {
  --accent: #{$accent-color};
}
