@use 'colors' as *;

html[data-theme='dark'] {
  --primary: #{$dark-card};
  --secondary: #{$dark};
  --color: #{$light};
  --header: #{$dark-header};
  --accent: #{$accent-color};
  --google-font: #e3e3e3;
  --google-background: #131314;
  --google-border: #8e918f;
}

html[data-theme='light'] {
  --primary: #{$light-card};
  --secondary: #{$light};
  --color: #{$dark};
  --header: #{$light-header};
  --accent: #{$accent-color};
  --google-font: #1f1f1f;
  --google-background: #ffffff;
  --google-border: #747775;
}

html {
  --accent: #{$accent-color};
}
