.loginButton {
  font-size: 1rem;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  &:hover {
    background-color: rgba(29, 29, 29, 0.616);
  }
}
.link {
  margin: 1rem;
  text-decoration: none;
}
