@import '/src/variables';

.input {
  border-radius: 5px;
  padding: 0.2rem;
  background-color: transparent;
  text-align: center;
  background-color: $light-background;
  border: none;
  margin: 0 1px;
  border: 1px solid rgb(0, 0, 0);

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background;
    border: 1px solid rgb(255, 255, 255);
  }

  &.error {
    border: 2px solid rgb(255, 0, 0);
  }
}

@media only screen and (max-width: 770px) {
  .input {
    font-size: 0.8rem;
  }
}
